<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.vegeyuk.restopatner">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_vegeyuk"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_vegeyuk"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.resto.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SplashActivity"
            android:noHistory="true"
            android:exported="true"
            android:theme="@style/AppTheme.NoAll">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SignInActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.resto.SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.VerifyActifity"
            android:theme="@style/AppTheme.NoAll" />
        <activity android:name=".activities.resto.DetailOrderActivity" />
        <activity android:name=".activities.resto.AddMenuActivity" />
        <activity android:name=".activities.resto.DataKurirActivity" />
        <activity android:name=".activities.kurir.OrderFragment"
            tools:ignore="Instantiatable" />
        <activity android:name=".activities.DeliveryActivity" />
        <activity android:name=".activities.TopUpActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <service android:name=".utils.MyFirebaseInstanceIDService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".utils.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activities.resto.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".activities.resto.EditMenuActivity" />
        <activity android:name=".activities.resto.EditDeliveryActivity" />
        <activity android:name=".activities.resto.EditPemilikActivity" />
        <activity android:name=".activities.resto.EditRestoranActivity" />
        <activity android:name=".activities.resto.DetailRiwayatActivity" />
        <activity android:name=".activities.TesFirebaseActivity" />
        <activity android:name=".activities.ListDeliveryActivity" />
        <activity
            android:name=".activities.kurir.KurirMainActivity"
            android:label="@string/title_activity_kurir_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.PrintActivity" />
    </application>

</manifest>